.loginContainer{  
    background: #FFFFFF; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
body {
    overflow-x: hidden;
}


.sideLoginContainer{
    position: relative;
    /* width: 732px;  */
    width: 50%;
    left: 0px; 
    top: 0px; 
    background: #F7F7FD;
    
}
.sideLoginContainer img {
    width: 100%;
    height: 100%;
}

.form-container {
    width: 40%;
    margin-top: 3rem;
}
.welcomeHeade{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #6F6F6F;
    margin-bottom: 1rem;
}

.companyName{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #360A3B;
    margin-bottom: 2rem;
}

.emailContainer{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 0px; 
    
    width: 403px; 
    /* height: 88px;  */
    
}

.emailLabel{
    width: 36px;
    /* height: 17px; */
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000929;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.emailField{
    width: 100%;
    /* height: 61px; */
   
    background: #F7F7FD;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
    border: none !important;
}

.passwordContainer{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 0px; 
    width: 403px; 
    /* height: 88px;  */
   
}

.passwordLabel{
    width: 66px;
    /* height: 17px; */
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000929;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.passwordField{
    width: 100%;
    /* height: 61px; */
    
    background: #F7F7FD;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px 0px 0px;
    
}
.forgotPasswordContainer {
    display: flex;
    width: 403px;
    height: 16px;
    margin: .5rem 0 2rem 0;
    justify-content: flex-end;
}

.forgetPasswordLink{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #B247BE;
    text-align: left;
}

/* .sideImage{
    position: absolute;
    width: 732px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: url('Frame 8.png');
} */

.loginButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 403px;
    /* height: 49px; */
   
    background: #360A3B;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border: none !important;
}

.dashboardFrame{
    position: relative;
    width: 1440px;
    /* height: 916px; */
    background: #FFFFFF;
}

.dashLeftSideFrame{
    /* position: absolute; */
    width: 246px;
    /* height: 916px; */
    /* left: 0px;
    top: 0px; */
}

.dashRightSideFrame{
    /* position: absolute; */
    width: 1194px;
    /* height: 916px; */
    /* left: 246px;
    top: 0px; */
    background: #F7F7FD;
    border-radius: 25px 0px 0px 0px;
}

.dashLogo{
    /* position: absolute; */
    width: 100px;
    height: 56.89px;
    /* left: 65px;
    top: 28px; */
    background: url('WhatsApp\ Image\ 2022-05-02\ at\ 5.15\ 1.png');
    border-image: none !important;
    border: none !important;
    margin-top: 0;
}

.dashInnerFrame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    /* position: absolute; */
    width: 174px;
    /* height: 444px; */
    /* left: 45px;
    top: 220px; */
}

.dashTitle{
    /* position: absolute; */
    width: 211px;
    /* height: 60px; */
    /* left: 0px;
    top: 130px; */
    background: #360A3B;
    border-radius: 0px 6px 6px 0px;
    text-align: center;
    border: none !important;
}

.dashTitleLabel{
    width: 84px;
    /* height: 19px; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 19px;
    color:#FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 52px;
}

.dashMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 174px;
    height: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.textMenu{
    width: 140px;
    height: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9295A6;
    flex: none;
    order: 1;
    flex-grow: 1;
    text-decoration: none;
}

.dashRightSideTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
    /* position: absolute; */
    width: 67px;
    /* height: 16px; */
    /* left: 50px;
    top: 38px; */
}

.dashRightSideTitleLabel{
    width: 67px;
    /* height: 16px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #6F6F6F;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.dashCompanyName{
    width: 160px;
    /* height: 16px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 700px;
}
@media only screen and (max-width: 1200px) {
    .sideLoginContainer {
        width: 45%;
    }
    .form-container {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .forgotPasswordContainer, .emailContainer, .passwordContainer, .loginButton {
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    .loginContainer {
        flex-direction: column;
    }
    .sideLoginContainer {
        display: none;
    }
    .form-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .forgotPasswordContainer, .emailContainer, .passwordContainer, .loginButton {
        width: 100%;
    }
    .companyName, .welcomeHeade {
        text-align: center;

    }
    .welcomeHeade {
        margin-bottom: 1rem;
    }
}




.hideam {
    display: none;
}
.nohide {
    display: block;
}